
{erl_opts, [{parse_transform, lager_transform}, {lager_extra_sinks, [ecrecover]}]}.

{deps, [
        {lager, {git, "https://github.com/erlang-lager/lager.git",
                 {ref, "69b4ada"}}}, % tag: 3.6.7

        %% ecrecover prebuilt libraries
        {ecrecoverprebuilt,
         {ecrecoverprebuilt_app_with_priv_from_git,
	  {git, "https://github.com/johnsnewby/ecrecover-prebuilt.git",
	   {ref, "94c274e2d993604b946f96ff2e600c14d054277b"}}}}
       ]}.

{plugins, [{rebar_ecrecoverprebuilt_dep,
	    {git, "https://github.com/johnsnewby/rebar3-ecrecover-prebuilt-plugin.git"}}
%%	    {ref, "e4d56592c485c054cc5c0207476685aa32130758"}}}
          ]}.

%%{profiles, [{test, [{deps, [{meck, "0.8.12"}]}]}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto]}
           ]}.
