
{erl_opts, [{parse_transform, lager_transform}, {lager_extra_sinks, [ecrecover]}]}.

{deps, [
        {lager, {git, "https://github.com/erlang-lager/lager.git",
                 {ref, "69b4ada"}}}, % tag: 3.6.7

        %% ecrecover prebuilt libraries
        {ecrecoverprebuilt,
         {ecrecoverprebuilt_app_with_priv_from_git,
	  {git, "https://github.com/johnsnewby/ecrecover-prebuilt.git",
	   {ref, "6c458b53ffa5ebad0ed8f5e98e80c82d97d02f9d"}}}}
       ]}.

{plugins, [{rebar_ecrecoverprebuilt_dep,
	    {git, "https://github.com/johnsnewby/rebar3-ecrecover-prebuilt-plugin.git",
	    {ref, "667241ca0bacc14fced8a722eccfeb5203cbc6e5"}}}
          ]}.

%%{profiles, [{test, [{deps, [{meck, "0.8.12"}]}]}]}.

{dialyzer, [{warnings, [unknown]},
            {plt_apps, all_deps},
            {base_plt_apps, [erts, kernel, stdlib, crypto]}
           ]}.
